body {
    background-color:black;
    font-family:arial;
    color:white;
}

h1{
    color:green;
    font-family:verdana;
    text-align: center;
}

.maindiv {
    background-color:white;
    color:black;
    width:350px;
    padding:20px;
    border-radius: 25px;
    align:center;
    margin: 0 auto;
}

label{
    width:100px;
    text-align:left;
    display: inline-block;
}
